<h2 align=center> You can be a Python Developer !</h2>
<h1 align=center>Complete the <code>Assignment 2</code></h1>

In [ ]:
What are the two values of the Boolean data types? How you write them?

The two values of Boolean data types are True and False. We can write them exactly like this True , False.

In [ ]:
What are the three Boolean Operators?

The three Boolean operators are : and , or , not .

In [ ]:
Write out the truth tables of each Boolean Operator (that is, every possible combination of Boolean values for the operator and what they evaluate to)

In [ ]:
#TRUTH_TABLE
   x    |    y    |   not x  |   not y   |  (x and y)   |   (x or  y)   |
_________________________________________________________________________
 True   |  False  |   False  |   True    |     False    |     True      |
_________________________________________________________________________
 True   |  True   |   False  |   False   |     True     |     True      |
_________________________________________________________________________
 False  |  True   |   True   |   False   |     False    |     True      |
_________________________________________________________________________
 False  |  False  |   True   |   True    |     False    |     False     |

In [ ]:
What to the following expressions evaluate to?
• (5>4) and (3==5)
• not (5>4)
• (True and True) and (True == False)
• not ((5>4) or (3==5))
• (5>4) or (3==5)
• (not False) or (not True)

In [ ]:
#Answer
• (5>4) and (3==5) ------------------------> False
• not (5>4) -------------------------------> False 
• (True and True) and (True == False)------> False
• not ((5>4) or (3==5)) -------------------> False
• (5>4) or (3==5) -------------------------> True
• (not False) or (not True) ---------------> True

In [ ]:
What are the Six Comparison Operators?

In [ ]:
#Answer
1.  ==(Equal)
2.  !=(Not Equal)
3.  >(Greater than)
4.  <(Less than)
5.  >=(Greater than or equal to)
6.  <=(Less than or equal to)

In [ ]:
What is the difference between equal to operator and assignment operator?

1. (=) is an assignment operator. Equal to (==) is a relational or comparison operator.
2. Assignment Operator (=) is used for assigning the value to a variable. Equal to (==) is used for comparing two values. It returns 1 if both the values are equal otherwise returns 0.
3. Assignment Operator (=) Constant term cannot be placed on left hand side.
   Example: 1=x; is invalid.
   In Equal to (==) Constant term can be placed in the left hand side.
   Example: 1==1 is valid and returns 1.

In [ ]:
Print the calendar for the year 2020 and 2021.

In [4]:
import calendar as c
print(c.calendar(2020))
print(c.calendar(2021))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [ ]:
If the Formula for computing the sum of n natural numbers is: [n(n+1) / 2], then calculate the value of sum of first 10 numbers with the use of formula in python.

In [6]:
n=10
print(n*(n+1)//2)

55

In [ ]:
Check whether
• Task == task
• ‘clone’ == clone • 3.0 == 2**3 – 3*2 • 125 == 5*5*5

In [24]:
print('Task' == 'task')

False

In [13]:
print('‘clone’' == 'clone')

False

In [22]:
print(3.0 == 2**3 - 3*2)

False

In [25]:
print(125 == 5*5*5)

True

In [ ]:
Write a Python code to print current date and time.

In [14]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-05-20 15:35:13

In [ ]:
Calculate the radius of the circle if the user inputs the area.

In [17]:
r=float(input())
print(3.14 * r * r)

1
3.14

In [ ]:
Write a python program to accept a filename from the user and print the extension of that.

In [18]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: hariom.exe
The extension of the file is : 'exe'

In [ ]:
If x =100
I_love_python = 1
Its_Amazing = 2
Print(I_love_Python + x + Its_Amazing)

It will show as syntax error because we can't give an assignment as condition in if statement.

In [ ]:
Accept two string from a user and compare whether the strings are equal or not. Boolean Operators, Comparison Operators.

In [1]:
x=input()
y=input()
if x == y:
    print("Equal")
else:
    print("Not Equal")

ram
ram
Equal

Answered by : 
<a href="https://www.linkedin.com/in/saurabh-satapathy-692a6a1b9">Saurabh Satapathy</a> (AI ML BATCH)